@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS for flipping card */
.perspective {
    perspective: 1000px;
  }
  
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .group-hover\:transform.rotate-y-180:hover {
    transform: rotateY(180deg);
  }

  html, body, #root {
    height: 100%;
  }
  